@{
    ViewData["Title"] = "Cart";
}

<!-- Cart -->
<div class="container">
    <div class="featured">SHOPPING CART</div>

    <!-- Individual cart items generated below -->
    <div class="row">
        <hr/>
        <br/>
        <div class="itemImage" data-toggle="modal" data-target="#HEEL1-modal" style="border-width:1px;border-style:solid;height:140px;width:140px;" />
            <a href="#"><img src="~/images/HEEL1.png" height="140px" width="140px"></a>
        </div>
        <br/>
        <div>
            Your item description here
        </div>
        <div>
            SIZE: 7
        </div>
        <div>
            COLOR: Black
        </div>
        <div>
            PRICE: $20.00
        </div>
        <div>
            QTY: 1 
        </div>
    </div>



